body {
    margin: 0px;
}

nav {
    background-color: rgb(42,42,42);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

nav a {
    color: rgb(227, 216, 160);
    text-decoration: none;
}

nav a:visited {
    text-decoration: none;
    color: rgb(227, 216, 160);
}

nav-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 20px 0px;
    background-image: url("https://images.pexels.com/photos/39308/runners-silhouettes-athletes-fitness-39308.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255,255,255,0.5);
    color: black;
    border: solid black 1px;
    border-radius: 10px;
    box-shadow: 1px;
    padding: 20px;
    width: 50vw;
    text-align: center;
}

.main-card a,a:visited {
    text-decoration: none;
    background-color: rgb(15, 15, 90);
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.div-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black 1px;
    border-radius: 10px;
    margin: 20px;
    padding: 10px 20px 20px;
    background-color: rgb(255,255,255);
}

ul {
    padding: 0;
}

li.bulletless {
    list-style-type: none;
    margin: 2px;
    text-align: center;
}

.add-on {
    margin: 0px;
    padding: 0px;
}

#signup_form {
    display: flex;
    flex-direction: column;
}

#workout-identifier {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
}

.button-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button, a.button, a:visited.button {
    text-decoration: none;
    background-color: rgb(15, 15, 90);
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

button.affirm {
    font-size: 1.2em;
    background-color: rgb(15, 15, 90);
    border: none;
    box-sizing: none;
    cursor: pointer;
}

button.log {
    font-size: 0.8em;
    background-color: rgb(15, 15, 90);
    border: none;
    box-sizing: none;
    cursor: pointer;
}

button.get-info {
    background-color: white;
    font-weight: bold;
    padding: 5px 10px;
    min-width: 0.8em;
    color: blue;
    border-radius: 40px;
    border: solid 1px black;
    box-sizing: none;
}

a.button.danger {
    background-color: rgb(194, 45, 45);
}

.alert {
    margin: 10px 0px;
    background-color: rgb(244, 206, 74, 0.75);
    border-radius: 10px;
    padding: 10px;
    color: black;
}

.avoid {
    color: rgb(194, 45, 45);
    font-weight: bold;
}

.display-case {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.workout {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.workout-info {
    margin: 0px;
}

.exercise-info {
    min-width: 50vw;
}

.activity {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 5px 0px;
}

.activity.new {
    background-color: rgb(36, 133, 212);
    border-radius: 2px;
    margin: 2px 0px;
    padding: 5px 0px;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info > p {
    margin: 0px 5px;
}

h2 > .seamless {
    font-size: 1.5em;
    border: none;
    text-align: center;
    font-weight: bold;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-label {
    display: flex;
    font-size: 0.75em;
    vertical-align: middle;
}

.stat-value {
    display: flex;
    text-align: center;
    box-sizing: border-box;
    border: solid 1px black;
    margin: 5px;
    width: 2.5rem;
}

.stat-value.dropdown {
    box-sizing: none;
    border: none;
    width: 8rem;
}

.stat.visitor > p {
    justify-content: center;
    font-size: 0.8em;
}

.muscle-list, .equipment-list {
    text-decoration: none;
}