body {
    margin: 0px;
}

nav {
    background-color: rgb(91, 91, 197);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

nav-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.activity {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info > p {
    margin: 0px 5px;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-label {
    display: flex;
    font-size: 0.75em;
    vertical-align: middle;
}

.stat-value {
    display: flex;
    text-align: center;
    box-sizing: border-box;
    border: solid 1px black;
    margin: 5px;
    width: 2.5rem;
}

.stat-value.dropdown {
    width: 5rem;
}