<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <div class="nav-section">
            <h3><a href="/">Workout Companion</a></h3>
        </div>
        <div class="nav-section">
            {% if g.user %}
                <a href="{{ url_for('logout')}}">Logout</a>
            {% else %}
                <a href="{{ url_for('signup')}}">Sign Up</a>
                <a href="{{ url_for('login')}}">Login</a>
            {% endif %}
        </div>
    </nav>
    <main>
        {% for category, msg in get_flashed_messages(with_categories=True) %}
            <div class="category">
                {{msg}}
            </div>
        {% endfor %}
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>