{% extends 'base.html' %}

{% block title %}Workout Companion{% endblock %}
{% block content %}
    <div class="main-card">
        {% if g.user %}
            <a href="{{url_for('new_workout')}}" class="affirm">Start New Workout!</a>
            <a href="{{url_for('show_all_workouts')}}" class="affirm">Browse Workouts</a>
            <a href="{{url_for('view_workouts',user_id=g.user.id)}}" class="affirm">Your Workouts</a>
            <a href="{{url_for('show_logs',user_id=g.user.id)}}" class="affirm">Your Workout Log</a>
        {% else %}
            <p>Log in to start a workout</p>
            <div class="button-bar">
                <a class="button affirm" href="{{url_for('signup')}}">Sign Up</a>
                <a class="button affirm" href="{{url_for('login')}}">Log In</a>
            </div>
        {% endif %}
    </div>
{% endblock %}