{% extends 'base.html' %}

{% block title %} Workout {% endblock %}

{% block content %}
  <div class="div-card">
    {% if workout.creator == g.user.id %}
      <h2 id="workout-identifier" data-workoutid={{workout.id}}>
        <input type="text" id="workout-name" value="{{workout.name}}" class="seamless" />
      </h2>
    {% else %}
      <h2 id="workout-identifier" data-workoutid={{workout.id}}>{{workout.name}}</h2>
    {% endif %}
    <div class="header">
      <h3 class="workout-info">by {{workout.created_by.username}} - {{workout.display_date()}}</h3>
      {% if workout.creator == g.user.id %}
        <div class="tags">
          {% if workout.is_private == true %}
            <button class="tag share inactive">Private</button>
          {% else %}
            <button class="tag share">Shared</button>
          {% endif %}
          {% if workout.is_logged == true %}
            <button class="tag logged">Logged</button>
          {% else %}
            <button class="tag logged inactive">Untracked</button>
          {% endif %}
        </div>
      {% endif %}
    </div>
    {% if workout.creator == g.user.id %}
      <p id="base-url" style="display: none" data-url='{{g.BASE_URL}}'></p>
      <script src="https://unpkg.com/axios/dist/axios.js"></script>
      <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
      <script src="{{ url_for('static', filename='workout.js') }}"></script>
    {% else %}
    <div class="workout">
      {% for activity in workout.workout_activities %}
        <div class="activity">
          <div class="info">
            <div class="stat visitor">
              <p class="stat-value dropdown">{{activity.exercise.name}}</p>
              <!-- <label class="stat-label" for="exercise">Exercise</label> -->
            </div>
            {% if activity.weight %}
              <div class="stat visitor">
                <p class="stat-value">{{activity.weight}}</p>
                <label class="stat-label" for="exercise">Weight</label>
              </div>
            {% endif %}
            {% if activity.sets %}
              <div class="stat visitor">
                <p class="stat-value">{{activity.sets}}</p>
                <label class="stat-label" for="exercise">Sets</label>
              </div>
            {% endif %}
            {% if activity.reps %}
              <div class="stat visitor">
                <p class="stat-value">{{activity.reps}}</p>
                <label class="stat-label" for="exercise">Reps</label>
              </div>
            {% endif %}
            {% if activity.duration %}
            <div class="stat visitor">
              <p class="stat-value">{{activity.duration}}</p>
              <label class="stat-label" for="exercise">Duration</label>
            </div>
            {% endif %}
            {% if activity.distance %}
            <div class="stat visitor">
              <p class="stat-value">{{activity.distance}}</p>
              <label class="stat-label" for="exercise">Distance</label>
            </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    {% endif %}
    <div class="button-bar">
      {% if workout.creator == g.user.id %}
        <a class="button danger" href="{{url_for('delete_workout',workout_id=workout.id)}}">Delete this Workout</a>
      {% endif %}
      <a class="button affirm" href="{{url_for('clone_workout',workout_id=workout.id)}}">Copy This Workout</a>
    </div>
  </div>
{% endblock %}