{% extends 'base.html' %}

{% block title %} Workouts {% endblock %}

{% block content %}
    <div class="display-case">
        {% for workout in workouts %}
            <div class="div-card">
                <h3>{{workout.name}} by {{workout.created_by.username}}</h3>
                {% if workout.creator == g.user.id %}
                    <div class="tags row">
                        {% if workout.is_private == true %}
                            <button class="tag share inactive">Private</button>
                        {% else %}
                            <button class="tag share">Shared</button>
                        {% endif %}
                        {% if workout.is_logged == true %}
                            <button class="tag logged">Logged</button>
                        {% else %}
                            <button class="tag logged inactive">Untracked</button>
                        {% endif %}
                    </div>
                {% endif %}
                <ul>
                    {% for exercise_name in workout.get_unique_exercises() %}
                        <li class="bulletless">{{exercise_name}}</li>
                    {% endfor %}
                </ul>
                <a class="button" href="{{url_for('show_workout', workout_id=workout.id)}}">View Workout</a>
                {% if workout.creator == g.user.id %}
                    <a class="button danger" href="{{url_for('delete_workout',workout_id=workout.id)}}">Delete Workout</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}